#hero-Blog {
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#hero-Blog h1 {
    margin-bottom: 1rem;
    font-weight: 900;
    width: 60vw;
    color: var(--accent-color-2);
}

#hero-Blog h3 {
    margin-top: 16rem !important;
    margin-bottom: 5rem !important;
    font-weight: 400;
    margin: 0;
    width: 35vw;
    color: var(--text-color);
}

#hero-Blog p {
    padding: 0;
    font-weight: 100;
    width: 50%;
    width: 35vw;
    color: var(--text-color-light);
    margin-bottom: 6rem;
}

ul,
li,
ol {
    margin-left: 2em;
}


h3 {
    margin-top: 1em;
}


p {
    margin-top: 0.5em;
    margin-left: 1em;
}

.post-content P:last-child,
.post-content P:first-child {
    margin-top: 2em;
    margin-left: 0em;
}

.post-keywords {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;
    text-transform: capitalize;
}

.post-keyword {
    border-radius: 15px;
    border-color: var(--accent-color-2);
    border-width: 2px;
    border-style: solid;
    padding: 10px;
}

.post-categories {
    display: flex;
    flex-direction: row;
    gap: 30px;
    text-transform: capitalize;
    margin-bottom: 1em;
}

.post-category {
    margin-bottom: 1em;
    border-radius: 15px;
    border-color: var(--accent-color-2);
    border-width: 2px;
    border-style: solid;
    padding: 10px;
}

.blog-cards {
    margin-bottom: 6em;
}

.blog-card a {
    text-decoration: none;
    border-radius: 30px;
    border-color: var(--accent-color-2);
    border-style: solid;
    border-width: 2px;
    padding: 15px;
    color: var(--button-contrasting-color);
}

.blog-card a:hover,
.blog-card a:focus {
    background-color: var(--button-color);
}


.blog-card p {
    margin-bottom: 3rem;
    ;
}

code {
    background-color: var(--secondary-color-800);
    border-radius: 5px;
    font-family: courier, monospace;
    margin: inherit;
    white-space: pre !important;
}