:root {
    --primary-color: #FFD700;
    --primary-complementary-color: #0075FF;
    --primary-contrasting-color: #505050;
    --primary-color-100: hsl(50, 100%, 80%);
    --primary-color-200: hsl(50, 100%, 70%);
    --primary-color-300: hsl(50, 100%, 60%);
    --primary-color-400: hsl(50, 100%, 50%);
    --primary-color-500: hsl(50, 100%, 40%);
    --primary-color-600: hsl(50, 100%, 30%);
    --primary-color-700: hsl(50, 100%, 20%);
    --primary-color-800: hsl(50, 100%, 10%);
    --primary-color-900: hsl(50, 100%, 5%);

    --secondary-color: #2d2d2d;
    --secondary-complementary-color: #D0D0D0;
    --secondary-contrasting-color: #D3D3D3;
    --secondary-color-100: hsl(0, 0%, 20%);
    --secondary-color-200: hsl(0, 0%, 30%);
    --secondary-color-300: hsl(0, 0%, 40%);
    --secondary-color-400: hsl(0, 0%, 50%);
    --secondary-color-500: hsl(0, 0%, 60%);
    --secondary-color-600: hsl(0, 0%, 70%);
    --secondary-color-700: hsl(0, 0%, 80%);
    --secondary-color-800: hsl(0, 0%, 90%);
    --secondary-color-900: hsl(0, 0%, 95%);

    --accent-color-1: #A0522D;
    --accent-complementary-color-1: #2D4FA0;
    --accent-contrasting-color-1: #D3D3D3;
    --accent-color-1-100: hsl(25, 100%, 80%);
    --accent-color-1-200: hsl(25, 100%, 70%);
    --accent-color-1-300: hsl(25, 100%, 60%);
    --accent-color-1-400: hsl(25, 100%, 50%);
    --accent-color-1-500: hsl(25, 100%, 40%);
    --accent-color-1-600: hsl(25, 100%, 30%);
    --accent-color-1-700: hsl(25, 100%, 20%);
    --accent-color-1-800: hsl(25, 100%, 10%);
    --accent-color-1-900: hsl(25, 100%, 5%);

    --accent-color-2: #F4A460;
    --accent-color-2-80: hsla(28, 87%, 67%, 0.8);
    --accent-color-2-50: hsla(28, 87%, 67%, 0.5);
    --accent-color-2-20: hsla(28, 87%, 67%, 0.2);
    --accent-complementary-color-2: #6079FF;
    --accent-contrasting-color-2: #2d2d2d;
    --accent-color-2-100: hsl(35, 100%, 80%);
    --accent-color-2-200: hsl(35, 100%, 70%);
    --accent-color-2-300: hsl(35, 100%, 60%);
    --accent-color-2-400: hsl(35, 100%, 50%);
    --accent-color-2-500: hsl(35, 100%, 40%);
    --accent-color-2-600: hsl(35, 100%, 30%);
    --accent-color-2-700: hsl(35, 100%, 20%);
    --accent-color-2-800: hsl(35, 100%, 10%);
    --accent-color-2-900: hsl(35, 100%, 5%);

    --accent-color-3: #D3D3D3;
    --accent-complementary-color-3: #262626;
    --accent-contrasting-color-3: #2d2d2d;
    --accent-color-3-100: hsl(0, 0%, 80%);
    --accent-color-3-200: hsl(0, 0%, 70%);
    --accent-color-3-300: hsl(0, 0%, 60%);
    --accent-color-3-400: hsl(0, 0%, 50%);
    --accent-color-3-500: hsl(0, 0%, 40%);
    --accent-color-3-600: hsl(0, 0%, 30%);
    --accent-color-3-700: hsl(0, 0%, 20%);
    --accent-color-3-800: hsl(0, 0%, 10%);
    --accent-color-3-900: hsl(0, 0%, 5%);

    --background-color-1: #F5F5F5;
    --background-complementary-color-1: #0A0A0A;
    --background-contrasting-color-1: #2d2d2d;
    --accent-color-3-100: hsl(0, 0%, 80%);
    --accent-color-3-200: hsl(0, 0%, 70%);
    --accent-color-3-300: hsl(0, 0%, 60%);
    --accent-color-3-400: hsl(0, 0%, 50%);
    --accent-color-3-500: hsl(0, 0%, 40%);
    --accent-color-3-600: hsl(0, 0%, 30%);
    --accent-color-3-700: hsl(0, 0%, 20%);
    --accent-color-3-800: hsl(0, 0%, 10%);
    --accent-color-3-900: hsl(0, 0%, 5%);

    --background-color-2: #3B3024;
    --background-complementary-color-2: #C4D7FF;
    --background-contrasting-color-2: #D3D3D3;
    --background-color-2-100: hsl(38, 45%, 13%);
    --background-color-2-200: hsl(38, 45%, 23%);
    --background-color-2-300: hsl(38, 45%, 33%);
    --background-color-2-400: hsl(38, 45%, 43%);
    --background-color-2-500: hsl(38, 45%, 53%);
    --background-color-2-600: hsl(38, 45%, 63%);
    --background-color-2-700: hsl(38, 45%, 73%);
    --background-color-2-800: hsl(38, 45%, 83%);
    --background-color-2-900: hsl(38, 45%, 93%);

    --success-color: #5A9A5B;
    --success-color-100: hsl(120, 43%, 82%);
    --success-color-200: hsl(120, 43%, 72%);
    --success-color-300: hsl(120, 43%, 62%);
    --success-color-400: hsl(120, 43%, 52%);
    --success-color-500: hsl(120, 43%, 42%);
    --success-color-600: hsl(120, 43%, 32%);
    --success-color-700: hsl(120, 43%, 22%);
    --success-color-800: hsl(120, 43%, 12%);
    --success-color-900: hsl(120, 43%, 7%);

    --warning-color: #C99400;
    --warning-color-100: hsl(41, 100%, 76%);
    --warning-color-200: hsl(41, 100%, 66%);
    --warning-color-300: hsl(41, 100%, 56%);
    --warning-color-400: hsl(41, 100%, 46%);
    --warning-color-500: hsl(41, 100%, 36%);
    --warning-color-600: hsl(41, 100%, 26%);
    --warning-color-700: hsl(41, 100%, 16%);
    --warning-color-800: hsl(41, 100%, 6%);
    --warning-color-900: hsl(41, 100%, 3%);

    --error-color: #E34234;
    --error-color-100: hsl(8, 75%, 80%);
    --error-color-200: hsl(8, 75%, 70%);
    --error-color-300: hsl(8, 75%, 60%);
    --error-color-400: hsl(8, 75%, 50%);
    --error-color-500: hsl(8, 75%, 40%);
    --error-color-600: hsl(8, 75%, 30%);
    --error-color-700: hsl(8, 75%, 20%);
    --error-color-800: hsl(8, 75%, 10%);
    --error-color-900: hsl(8, 75%, 5%);

    --info-color: #7FB2F0;
    --info-color-100: hsl(210, 44%, 86%);
    --info-color-200: hsl(210, 44%, 76%);
    --info-color-300: hsl(210, 44%, 66%);
    --info-color-400: hsl(210, 44%, 56%);
    --info-color-500: hsl(210, 44%, 46%);
    --info-color-600: hsl(210, 44%, 36%);
    --info-color-700: hsl(210, 44%, 26%);
    --info-color-800: hsl(210, 44%, 16%);
    --info-color-900: hsl(210, 44%, 11%);

    --text-color: var(--secondary-color-700);
    --text-color-light: var(--secondary-color-500);
    --link-color: var(--accent-color-2-500);
    --link-color-hover: var(--accent-color-2-700);

    --button-color: hsla(28, 87%, 67%, 0.6);
    --button-complementary-color: hsl(231, 100%, 69%);
    --button-contrasting-color: hsl(0, 0%, 18%);
    --button-color-100: hsla(35, 100%, 80%, 0.6);
    --button-color-200: hsla(35, 100%, 70%, 0.6);
    --button-color-300: hsla(35, 100%, 60%, 0.6);
    --button-color-400: hsla(35, 100%, 50%, 0.6);
    --button-color-500: hsla(35, 100%, 40%, 0.6);
    --button-color-600: hsla(35, 100%, 30%, 0.6);
    --button-color-700: hsla(35, 100%, 20%, 0.6);
    --button-color-800: hsla(35, 100%, 10%, 0.6);
    --button-color-900: hsla(35, 100%, 5%, 0.6)
}