body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



a {
  color: var(--link-color);
  text-decoration: none;
  font-weight: 600;
}

a:hover {
  color: var(--link-color-hover);
  font-weight: 800;
}

/* Default font size */
:root {
  font-size: 16px;
}

/* Set font size for headings */
h1 {
  font-size: 4.5rem;
  /* equivalent to 90px */
}

h2 {
  font-size: 3.375rem;
  /* equivalent to 68px */
}

h3 {
  font-size: 2.25rem;
  /* equivalent to 45px */
}

/* Set font size for paragraphs */
p {
  font-size: 1.25rem;
  /* equivalent to 25px */
}

/* Set font size for links */
a {
  font-size: 1.25rem;
  /* equivalent to 25px */
}

/* Set font size for emphasized text */
strong,
em {
  font-size: 1.25rem;
  /* equivalent to 25px */
}

/* Set font size for list items */
li {
  font-size: 1.25rem;
  /* equivalent to 25px */
}

/* Set font size for definition lists */
dt,
dd {
  font-size: 1.25rem;
  /* equivalent to 25px */
}


/* Styles for screens up to 767px */
@media (max-width: 767px) {
  :root {
    font-size: 14px;
  }
}

/* Styles for screens between 768px and 991px */
@media (min-width: 768px) and (max-width: 991px) {
  :root {
    font-size: 16px;
  }
}

/* Styles for screens between 992px and 1199px */
@media (min-width: 992px) and (max-width: 1199px) {
  :root {
    font-size: 18px;
  }
}

/* Styles for screens 1200px and above */
@media (min-width: 1200px) {
  :root {
    font-size: 16px;
  }
}