/* Style the hero section */
#hero {
  background-color: var(--secondary-color);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#hero h1 {
  margin-bottom: 0.25em;
  font-weight: 900;
  min-height: 1.5em;
  color: var(--accent-color-2);
}

#hero h5 {
  font-weight: 400;
  margin: 0;
  min-height: 1.5em;
  color: var(--text-color);
}

#hero p {
  padding: 0;
  font-weight: 100;
  width: 50%;
  min-height: 10em;
  color: var(--text-color-light);
}