.container.resume {
  display: flex;
  flex-direction: column;
}

.resume-side {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-right: 1rem;
}

.resume-main {
  width: 100%;
  padding-left: 2rem;
}

.progress-bar {
  margin-top: 0.5rem;
  position: relative;
  height: 1rem;
  width: 100%;
  background-color: #eee;
  border-radius: 10px;
  --progress-value: 50%;
}

.resume-content h5 {
  margin-top: 0.8rem;
}

.progress-bar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: var(--progress-value);
  background-color: var(--accent-color-2);
  border-radius: 10px;
}

.progress-bar[data-value="0"]::before {
  display: none;
}

.resume-main .resume-content p {
  margin-left: 0px;
  margin-top: 0px;
}

.resume-main .resume-content h4 {
  margin-left: 0px;
  margin-top: 0.5em;
}

.resume-main .resume-content ul {
  margin-left: 0px;
  margin-top: 0.5em;
}

.resume-main .resume-content h3 {
  margin-top: 0.25em;
}

.resume-main .resume-content:not(:first-child) h2 {
  margin-top: 0.5em;

}

.resume-side .resume-content h3 {
  margin-top: 25px;
}

.resume-side .resume-content:not(:first-child) h3 {
  margin-top: 1em;
}


/* Styles for screens up to 767px */
@media (max-width: 767px) {}

/* Styles for screens between 768px and 991px */
@media (min-width: 768px) and (max-width: 991px) {}

/* Styles for screens between 992px and 1199px */
@media (min-width: 992px) and (max-width: 1199px) {
  .resume-side {
    width: 30%;
  }

  .resume-main {
    width: 70%;
  }

  .container.resume {
    display: flex;
    flex-direction: row;
  }
}

/* Styles for screens 1200px and above */
@media (min-width: 1200px) {
  .container {
    width: 70%;
  }

  .resume-side {
    width: 30%;
  }

  .resume-main {
    width: 70%;
  }

  .container.resume {
    display: flex;
    flex-direction: row;
  }
}