.scroll-down{
    position: absolute;
    right:10px;
    bottom:5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #000;
    opacity: 0.3;
}
.scroll-down.scroll-down--left{
    position: absolute;
    left:10px;
    right:auto;
}

.scroll-down span{
    display: inline-flex;
    align-items: center;
    writing-mode: vertical-lr;
    text-orientation: mixed;
    animation-name: bounce-1;
    animation-timing-function: linear;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}
.scroll-down i{
    margin-top: 2px;
    margin-right:1px;
}

@keyframes bounce-1 {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }

    50% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px)
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}